[submodule "external/facet"]
	path = external/facet
	url = git@github.com:stellargo/facet.git
[submodule "external/opentslm"]
	path = external/opentslm
	url = git@github.com:StanfordBDHG/OpenTSLM.git

[submodule "external/OpenFace-3.0"]
	path = external/OpenFace-3.0
	url = https://github.com/CMU-MultiComp-Lab/OpenFace-3.0.git
