[submodule "external/facet"]
	path = external/facet
	url = git@github.com:stellargo/facet.git
[submodule "external/opentslm"]
	path = external/opentslm
	url = git@github.com:StanfordBDHG/OpenTSLM.git

